.overlay{
    position:absolute;
    inset:0;

    display:flex;
    flex-direction:column;
    justify-content:center;
    align-items:center;

    background:linear-gradient(
        rgba(0,0,0,.15),
        rgba(0,0,0,.5)
    );

    text-align:center;
}
/* ========================= */
/* ANIMAÇÕES */
/* ========================= */

.screen{
    transition:all .8s ease;
}

/* FOTO DE CAPA */

.cover-image{

    animation:
    slowZoom 15s ease-in-out infinite alternate;

}

/* CAMADA ESCURA MAIS BONITA */

.overlay{

    justify-content:center;

    text-align:center;

    background:
    linear-gradient(
    rgba(0,0,0,.15),
    rgba(0,0,0,.55));

    backdrop-filter:blur(2px);

}

/* TÍTULO */

.overlay h1{

    font-size:4rem;

    text-shadow:
    0 4px 20px rgba(0,0,0,.35);

    animation:
    fadeUp 1.2s ease;

}

/* BOTÃO PRINCIPAL */

.overlay button{

    background:
    linear-gradient(
    135deg,
    #ffffff,
    #f5dede);

    color:#5a3b3b;

    padding:18px 35px;

    font-weight:600;

    letter-spacing:.5px;

    box-shadow:
    0 12px 35px rgba(0,0,0,.25);

    transition:.3s;

}

.overlay button:hover{

    transform:
    translateY(-4px);

}

.overlay button:active{

    transform:
    scale(.95);

}

/* TELA DE SENHA */

.card{

    backdrop-filter:blur(10px);

    animation:
    fadeUp .8s ease;

}

/* INPUT */

.card input{

    transition:.3s;

}

.card input:focus{

    outline:none;

    border-color:#c27d95;

    box-shadow:
    0 0 15px rgba(194,125,149,.3);

}

/* SPOTIFY */

.spotify-cover{

    box-shadow:
    0 15px 40px rgba(0,0,0,.3);

    animation:
    floatAlbum 4s ease-in-out infinite;

}

#nextBtn{

    box-shadow:
    0 10px 30px rgba(0,0,0,.3);

    transition:.3s;

}

#nextBtn:hover{

    transform:
    scale(1.08);

}

#nextBtn:active{

    transform:
    scale(.95);

}

/* CORAÇÕES */

.heart{

    position:fixed;

    font-size:22px;

    opacity:.4;

    pointer-events:none;

    animation:
    floatHeart linear infinite;

}

.heart1{
    left:10%;
    animation-duration:8s;
}

.heart2{
    left:35%;
    animation-duration:11s;
}

.heart3{
    left:65%;
    animation-duration:9s;
}

.heart4{
    left:85%;
    animation-duration:12s;
}

/* KEYFRAMES */

@keyframes slowZoom{

    from{
        transform:scale(1);
    }

    to{
        transform:scale(1.08);
    }

}

@keyframes fadeUp{

    from{

        opacity:0;

        transform:
        translateY(25px);

    }

    to{

        opacity:1;

        transform:
        translateY(0);

    }

}

@keyframes floatAlbum{

    0%{
        transform:translateY(0);
    }

    50%{
        transform:translateY(-8px);
    }

    100%{
        transform:translateY(0);
    }

}

@keyframes floatHeart{

    from{

        transform:
        translateY(110vh);

        opacity:0;

    }

    15%{

        opacity:.4;

    }

    to{

        transform:
        translateY(-120vh);

        opacity:0;

    }

}
